---
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
pushbullet_api_key:  asdfasdfasdf
namecheap_access_token:  asdfasdfasdf
andrew_phone_email:  asdfasdfasdf
ecovacs_username:  asdfasdfasdf
ecovacs_password:  asdfasdfasdf
ecovacs_country:  asdfasdfasdf
ecovacs_continent:  asdfasdfasdf
blink_password:  asdfasdfasdf
blink_username:  asdfasdfasdf
todoist_token:  asdfasdfasdf
unifi_controller_username:  asdfasdfasdf
unifi_controller_password:  asdfasdfasdf
darksky_api_key:  asdfasdfasdf
influxdb_password:  asdfasdfasdf
arlo_username:  asdfasdfasdf
arlo_password:  asdfasdfasdf
ssl_certificate: README.md
ssl_key: README.md
github_api_key: 00000
nas_pihole_api_key: asfljasldfnasdf
