---
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
pushbullet_api_key:  asdfasdfasdf
namecheap_access_token:  asdfasdfasdf
andrew_phone_email:  asdfasdfasdf
ecovacs_username:  asdfasdfasdf
ecovacs_password:  asdfasdfasdf
ecovacs_country:  asdfasdfasdf
ecovacs_continent:  asdfasdfasdf
blink_password:  asdfasdfasdf
blink_username:  asdfasdfasdf
todoist_token:  asdfasdfasdf
darksky_api_key:  asdfasdfasdf
ssl_certificate: README.md
ssl_key: README.md
github_api_key: 00000
nas_pihole_api_key: asfljasldfnasdf
telegram_api_key: asdfanerjwnef
influx_db_host: 192.168.0.0
influx_db_username: asdfasdf
influx_db_password: fasdfasdf
arlo_username: asdf
arlo_password: asdf
foscam_username: asdf
foscam_password: asdf
nutuser: asdf
nutpassword: asdf
folder_scripts: scripts
folder_automation: automation
thekails_calendar_client_id: asdfasdljkfn
thekails_calendar_client_secret: asdfasdljkfn
steam_api_key: asebfdjbng
spotify_client_id: asdfnasfd
spotify_client_secret: aslndfgn
nextcloud_username: adsfasdf
nextcloud_password: adsfasdf
recorder_db_url: askdjfnas
jellyfin_api_key: alskdfjasdfn
